<h1 style="text-align:center;">PREPROCESAMIENTO DE LA DATA</h1>

In [43]:
import pandas as pd
import pyodbc

<h4>Paso 1: Obtener la data desde un archivo excel</h4>

In [44]:
dfHardware = pd.read_excel('hardwareSample.xlsx', index_col=0)

In [45]:
dfHardware

,NombreDispositivo,Version,idTipoHardware,fechaInicioSoporte,fechaFinSoporte,vidaUtil
idHardware,,,,,,
1,dispositivo 1,3,1,1995-02-20,2022-02-20,4
2,dispositivo 2,4,2,1996-02-20,2023-02-20,5
3,dispositivo 3,5,1,1997-02-20,2024-02-20,6
4,dispositivo 4,6,2,1998-02-20,2025-02-20,7
5,dispositivo 5,7,1,1999-02-20,2026-02-20,8

<h4>Paso 2: Limpiar la data</h4>

<h4>Paso 3: Insertar la data en SQL Server</h4>

##### Cadena de conexion

In [51]:
server = 'DESKTOP-H1B23TT' 
database = 'ComponenteBGR' 
username = 'bgrcom' 
password = '12345678'

In [39]:
conn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = conn.cursor()

##### Inserción de la data

In [48]:
for index, row in dfHardware.iterrows():
     cursor.execute("INSERT INTO Hardware (NombreDispositivo,Version,idTipoHardware,fechaInicioSoporte,fechaFinSoporte,vidaUtil) values(?,?,?,?,?,?)", 
                    row.NombreDispositivo, row.Version, row.idTipoHardware, 
                    row.fechaInicioSoporte, row.fechaFinSoporte, row.vidaUtil)
cursor.commit()
cursor.close()

##### Verificación de la inserción

In [50]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM Hardware')
for i in cursor:
    print(i)

(1, 'dispositivo 1', 1, 1, '1995-02-20', '2022-02-20', 4)
(2, 'dispositivo 2', 2, 2, '1994-01-11', '2012-02-01', 5)
(3, 'dispositivo 3', 3, 1, '1995-02-20', '2022-02-20', 4)
(4, 'dispositivo 4', 4, 2, '1996-02-20', '2023-02-20', 5)
(5, 'dispositivo 5', 5, 1, '1997-02-20', '2024-02-20', 6)
(6, 'dispositivo 6', 6, 2, '1998-02-20', '2025-02-20', 7)
(7, 'dispositivo 7', 7, 1, '1999-02-20', '2026-02-20', 8)
(8, 'dispositivo 1', 3, 1, '1995-02-20', '2022-02-20', 4)
(9, 'dispositivo 2', 4, 2, '1996-02-20', '2023-02-20', 5)
(10, 'dispositivo 3', 5, 1, '1997-02-20', '2024-02-20', 6)
(11, 'dispositivo 4', 6, 2, '1998-02-20', '2025-02-20', 7)
(12, 'dispositivo 5', 7, 1, '1999-02-20', '2026-02-20', 8)